fail parsing resolv.conf with escape sequence

**Describe the bug**
`/etc/resolv.conf` with non-LDH escape sequence causes parse error.

**To Reproduce**

1. add any domain containing non-LDH `\`-escape sequence to `/etc/resolv.conf`
2. install something which uses `hickory-resolver` crate as the resolver
3. execute it with system configuration = `/etc/resolv.conf`

Simplest example:

add `space\032space.com` into domain search list, then 

```sh
cargo install hickory-util
resolve -s github.com
```

will fail with this error:

```
Error: ResolveError { kind: Io(Custom { kind: Other, error: "Error parsing resolv.conf: Malformed label: space\u{1a}space" }) }
```

**Expected behavior**

1. the resolver should parse `resolv.conf` as vaild file
2. if not, escape sequence should be unescaped as **decimal** escape 

expected result of the example above:

1.
  ```
  Querying for github.com A from [system provided nameservers...]
  Success for query github.com IN A
	  github.com. 51 IN A 20.27.177.113
  ```
2.
  ```
  Error: ResolveError { kind: Io(Custom { kind: Other, error: "Error parsing resolv.conf: Malformed label: space\u{20}space" }) }
  ```

**System:**
1.
   - OS: linux
   - Architecture: aarch64
   - Version 6.6.51+rpt-rpi-v8
   - rustc version: 1.83
2.
   - OS: macos
   - Architecture: aarch64
   - Version 6.6.51+rpt-rpi-v8
   - rustc version: 1.83

**Version:**
Crate: hickory-resolver
Version: 0.24.1

**Additional context**
when domain search list with non LDH characters provided, some DHCP client implementations use `\`-escape **decimal** sequences and put the escaped domains into `/etc/resolv.conf`:

- [systemd](https://github.com/systemd/systemd/blob/3f3b4959e2cb9bca1e1ed527a0692c9a8b6a18ea/src/shared/dns-domain.c#L205)
- [NetworkManager](https://github.com/NetworkManager/NetworkManager/blob/3b755778712d7290cd0eafbbc4490444438d1918/src/libnm-systemd-shared/src/shared/dns-domain.c#L209) (currently using the forked code of systemd)

This behavior corresponds with non-LDH escape defined in [Section 2.1 of RFC 4343](https://datatracker.ietf.org/doc/html/rfc4343#section-2.1).

Strangely, ISC-DHCP use C-style **octal** escape sequence:

- [isc-dhcp](https://github.com/isc-projects/dhcp/blob/572032cb0e514606559de3784e3f7ca8e1539d17/common/options.c#L4240)

https://github.com/hickory-dns/hickory-dns/pull/330 seems following ISC-DHCP.